body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calcontainer {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin-left: 0;
  margin-top: 30px;
  width: 316px;
  border: none;
}
#panel {
  text-align: right;
  width: 274px;
  height: 80px;
  font-size: 26px;
  background-color: white;
}
#panel:hover {
  cursor: col-resize;
}
.bttn {
  margin-bottom: 8px;
  margin-left: 5px;
  width: 59px;
  height: 45px;
  font-size: 22px;
}
.bttne {
  width: 120px;
  margin-top: 10px;
  margin-right: 11px;
}
